body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
}
h1, h2, h3 {
    font-family:'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin: 0px 0px 0px 0px;
}
#restartButton{
    border: 2px solid white;
    border-radius: 10px;
}
#restartButton:hover {
    background-color: #009900;
}

#scoreboard {
    margin: 0px;
}